@model onlineWingStore.Models.CustomerFeedBackTable
@{
    ViewBag.Title = "Showresponse";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section AdminAfterLogin
{
      
     <li><a href="/Product/Create">Add Product</a></li>
     <li><a href="/Product/Index">Show All Products</a></li>                                 
     <li><a href="/Admin/Showresponse">Customer Response</a></li> 
     <li><a href="/Admin/UploadFile">Upload File</a></li>
     <li><a href="/Admin/SportsShoes">Sports Shoes</a></li>
     <li><a href="/Admin/SaftyShoes">Safty Shoes</a></li>
     <li><a href="/Admin/OtherShoes">Other</a></li>     
     

}

@section AdminAfterLoginTwo
{
    <li><a href="/Admin/AdminMainPage">Home</a></li>
    <li><a href="/Admin/LogoutAction">Logout</a></li>

}
<h2>Customers Feed Back</h2>
<html>
    <head><title></title></head>
    <body>
        <div align="center">
         <table border="1">
    <tr>
        <td>View ID</td>
        <td>NAME</td>
        <td>EMAIL ID</td>
        <td>COMMENTS</td>
       
    </tr>
    @foreach(var v in ViewBag.mydata)
   
    { <tr>
        <td>@v.ViewId</td>
        <td>@v.Name</td>
        <td>@v.Email </td>
        <td>@v.Views</td>
    </tr>
    }
</table>
            </div>
    </body>
</html>
