#carousel
{
    width:1200px;
    height: 400PX;
    border: 2px solid black;
        background-color:#948b6d;
}
        
#myimageContainer
{
        	
    display: none;
}
        
#myimageContainer.selected
{
        
    display: block;
}
        
