@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AfterLogin
{
    <li><a href="/Home/UserMainPage">Home</a></li>
    <li><a href="/Home/Contact">Contact</a></li>
    <li><a href="/Home/LogoutAction">Logout</a></li>
    }
<h2>Terms And Conditions</h2><br/><br/>
<br/><br/>

<html>
    <head><title></title></head>
    <body>

        <div align="center">
        <ol>    
                <li><h1>You Can Return a Product Within 10 days,after that product will not be return Or Replace<h1></li></br>

                <li><h1>Amount can be Recive at the time of Delivery<h1></li></br>

                <li><h1>Demaged Product cannot be Replace or Return<h1></li></br>
                
                
       </ol>
            </div>

    </body>
</html>
